
  // /* Create two equal columns that floats next to each other */
  // .column {
  //   float: left;
  //   width: 50%;
  //   padding: 10px;
  // }
  .grid-container {
    display: grid;
    grid: 100px / auto auto auto;
    grid-gap: 5px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
     font-size: 30px;
    font-size: 30px;
}
  







  
