<app-header></app-header>


<div class="container">
    <div class="col-md-5">
        <form>
            <div class="form-group d-md-flex"> 
                <input type="text" class="form-control" placeholder="Ingrese héroe">
                <input type="submit" class="search-domain btn btn-primary " value="Buscar">
            </div>
        </form>
</div>
<br>
<h2>Lista de Heróes</h2>
<input type="submit" class="btn btn-danger" (click)="prueba()" value="Prueba">

<br>
<div class="grid-container">
    
    <div class="item1">1</div>
    <div class="item2">2</div>
    <div class="item3">3</div>  
  </div>
 <!-- <div class="container">

    
    <br>

        <div class="row">
            <div class="column" style="background-color:#aaa;">
                <thead>
                  <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Imagen</th>
                      <th scope="col">Powerstats</th>
                      <th scope="col"><input type="button" value="Detalle" class="btn btn-secondary" > <input type ="button" class="btn btn-danger" value="Eliminar"></th>
                  </tr>   
                </thead> 
                <tbody>
                    <tr *ngFor="let heroe of heroes">
                        <td>{{heroe.name}}</td>
                        <td>{{heroe.imagen}}</td>
                        <td>{{heroe.powerstats}}</td>
                    </tr>
                </tbody>
            </div>
          </div>
        
</div> -->

