<div class="wrapper fadeInDown">
    <div id="formContent">
     
      <div class="fadeIn first">
        <img src="assets/login.png" id="icon" alt="User Icon" />
      </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
          <input type="text" id="email" class="fadeIn second" placeholder="Email" formControlName="email"  required >
          <span *ngIf="loginForm.get('email')?.dirty" >
            <p *ngIf="loginForm.get('email')?.hasError('required')" class="alert alert-danger">El Email es requerido</p>
          </span>

          <input type="password" id="password" class="fadeIn third"  placeholder="Password" formControlName="password" required>
          <span *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.dirty">
            <p *ngIf="loginForm.get('password')?.hasError('required')" class="alert alert-danger">El Password es requerido</p>
          </span>
          <input type="submit" class="fadeIn fourth" [disabled]="loginForm.invalid" value="Enviar">
        </form>
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
      
    </div>
  </div>